<div class="dashboard">

  <div *ngIf="alertMessage" [class]="alertSuccess ? 'alert success' : 'alert error'">
    {{ alertMessage }}
  </div>

  <button mat-raised-button color="primary" (click)="openCreateCustomer()">
    Ajouter un client
  </button>

  <button mat-raised-button color="primary" (click)="openEditCustomer()">
    Mettre à jour un client
  </button>

  <button mat-raised-button color="primary" (click)="openCreateAppointment()">
    Ajouter un rendez-vous
  </button>

  <button mat-raised-button color="primary" (click)="toggleAppointmentsList()">
    Liste des rendez-vous
  </button>

  @if (showAppointmentsList()) {
  <app-appointments-list [merchantId]="merchantId" />
  }
</div>
