.info-field {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 0;
}

.info-field mat-icon {
  color: #666;
}

.label {
  font-size: 12px;
  color: #777;
}

.info-field p {
  margin: 3px 0 0;
  font-size: 16px;
  font-weight: 500;
}

h2 {
  padding: 8px;
  text-align : center;
}
