<div class="dialog-container">

  <div class="dialog-header">
    <h2>Informations personnelles</h2>
  </div>

  <mat-dialog-content>

    <div class="info-field">
      <mat-icon>person</mat-icon>
      <div>
        <span class="label">Nom</span>
        <p>{{ name }}</p>
      </div>
    </div>

    <div class="info-field">
      <mat-icon>phone</mat-icon>
      <div>
        <span class="label">Numéro de téléphone</span>
        <p>{{ phoneNumber }}</p>
      </div>
    </div>

    <div class="info-field">
      <mat-icon>mail_outline</mat-icon>
      <div>
        <span class="label">Adresse e-mail</span>
        <p>{{ email }}</p>
      </div>
    </div>

  </mat-dialog-content>

</div>
